*{
    padding: 0;
    margin: 0;
}

.marine-top-5percnt{
    margin-top: 10px;
}

.margine-left-16px{
    margin-left: 16px;
}
.padding-left-16px{
    padding-left: 16px;
}

.margine-right-16px{
    margin-right: 16px;
}

.margine-top-10-percent{
  margin-top: 10%;
}

.margine-top-50-px{
    margin-top: 50px;
}

.margine-top-20-px{
    margin-top: 20px;
}

.margine-top-10-px{
    margin-top: 10px;
}

.margine-top-100-px{
    margin-top: 100px;
}

.margine-top-100-px{
    margin-top: 100px;
}
.padding-top-100-px{
    padding-top: 50px;
}
.padding-top-50-px{
    padding-top: 50px;
}

.padding-bottom-30-px{
    padding-bottom: 50px;
}

.bg-navy{
    background: navy;
}

.text-white{
    color: white;
}

.text-navy{
    color: navy;
}

.height_80vh{
    height: 80vh;
}

.height_30vh_large{
    height: 30vh;
}
.position-of-fs-explaination{
    display: flex;
    align-items: center;
}
.bg-wheat{
    background-color: wheat;
}
.banner{
    display: flex;
    justify-content: space-around;
}


.area{
    height: 150px;
    width: 300px;
    border: 1px solid white;
    background-color: white;
    margin-top: 35px;
    margin-left: 10%;
}

.area-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.custom-image {
    max-height: 500px; 
    object-fit: cover; 
}

.custom-details-image {
    max-height: 500px; 
}

.font-size35px{
    font-size: 35px;
}

.font-size-25px{
    font-size: 25px;
}

.font-weight-bolder{
    font-weight: bolder;
}
.font-weight-bold{
    font-weight: bold;
}
.font-weight-100{
    font-weight:100;
}

.highlighted{
    text-decoration: underline;
    text-decoration-color: green;
    text-underline-offset: 10px;
    text-decoration-thickness: 4px;
    
}

.first_button{
    border: 1px solid rgb(7, 134, 7);
    background-color: rgb(7, 134, 7);
    padding: 10px 12px;
    border-radius: 50px;
}

.second_button{
    margin-top: 10px;
}

.first_card, .second_card, .third_card, .forth_card{
    height: 300px;
    width: 300px;
    margin: 25px;
}

.custom-shadow{
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.about_us{
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.about_us_button{
    border: 1px solid #07f93c;
    background: #07f93c;
    width: 90px;
    height:40px;
    padding-left: 8px;
    padding-top: 6px;
    border-radius: 10px;
}

.first_row, .second_row{
    display: flex;
}

.logo_container img{
    height: 80px;
    height: 80px;
}

.box{
    width: 300px;
    height: 60px;
    border: 1px solid #b2beb54d;
    border-radius: 5px;
}

.box_container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 8px;
    margin-left: 2%;
}

.box_img_container img{
    height: 50px;
    width: 50px;
}

.area-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.area img{
    height: 40px;
    width: 40px;
    top: 0;
    margin-left: 40%;
    transform: translateY(-42%);
    border: 1px solid white;
    background-color: white;
    border-radius: 50px;
    padding: 10px;
}

.title-bar {
    display: flex; /* Aligns items horizontally */
    align-items: center; /* Vertically centers the text and line */
    padding-left: 16px;
}

.title-bar small {
    font-size: 14px; /* Adjust the text size */
    margin-right: 10px; /* Space between the text and the line */
}

.title-bar::after {
    content: "";
    width: 1in;; /* Makes the line take up remaining space */
    height: 1px; /* Line thickness */
    background-color: rgb(4, 249, 4); /* Line color */
}


.flex{
    display: flex;
    gap: 200px;
    justify-content: space-evenly;
}

.fs-hr{
    display: none;
}
.fs-hr2{
    display: none;
}

.gallery-image .image img{
    width: 220px;
}

.gallery-image{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
    place-items: center;
}

/* small */
@media only screen and (max-width:767px){
    .banner{
        /* justify-content: space-around; */
        flex-direction: column-reverse;
    }
    
    .description{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .text-align-sm{
        text-align: center;
    }
    .height_160vh{
        height: 105vh;
    }
    .title, .read_me_button,.about_us_button{
        margin-left: 25%;
    }

    .explaination{
        margin-left: 25%;
        margin-right: 25%;
    }
    .about_us{
         flex-direction: column;
    }

    .first_row, .second_row{
        flex-direction: column;
    }

    .box_container{
        grid-template-columns: repeat(1,1fr);
        margin-left:10px;
    }

    .area{
        margin-left: 10px;

    }

    .area-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
    }

    .box_container{
        grid-template-columns: repeat(1,1fr);
    }

    .height_120vh_sm{
        height: 120vh;
    }

    .flex{
        flex-direction: column;
        gap: 4px;
    }

    .fs-hr{
        display: block;          /* Makes sure the <hr> is treated as a block element */
        width: 60%;              /* Sets the width of the line */
        margin-left: auto;
        margin-right: auto; /* Centers the line horizontally */
        background-color: black;  /* Changes the line's color */
        height: 4px;             /* Sets the thickness of the line */
        border: 0;   
    }

    .fs-hr2{
        display: block;          /* Makes sure the <hr> is treated as a block element */
        width: 60%;              /* Sets the width of the line */
        margin-left: auto;
        margin-right: auto; /* Centers the line horizontally */
        background-color: black;  /* Changes the line's color */
        height: 4px;             /* Sets the thickness of the line */
        border: 0;   
    }

    .image-1,.image-2,.image-3,.image-4{
        width: 300px;
    }

    .gallery-image{
        grid-template-columns: repeat(1,1fr);
    }

}

@media only screen and (min-width: 768px) and (max-width:1200px){
    .about_us{
        display: flex;
        flex-direction: column;
    }
    
    .box_container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 8px;
        margin-left: 2%;
    }

    .first_row, .second_row{
        margin-left: 8%;
    }

    .area-container{
        grid-template-columns: repeat(2,1fr);
        margin-left:5%;
    }

    .height_60vh_md{
        height: 60vh;
    }

    .flex{
        gap: 20px;
    }

    .fs-hr{
        display: block;
    }

    .fs-hr, .fs-hr2{
        display: none;
    }

    .gallery-image{
        grid-template-columns: repeat(3,1fr);
    }
}