*{
    padding: 0;
    margin: 0;
}

.marine-top-5percnt{
    margin-top: 10px;
}

.margine-left-16px{
    margin-left: 16px;
}

.margine-right-16px{
    margin-right: 16px;
}

.margine-top-10-percent{
  margin-top: 10%;
}
/* 
.margine-top-10_percent{
    margin-top: 10%;
} */

.margine-top-50-px{
    margin-top: 50px;
}

.margine-top-20-px{
    margin-top: 20px;
}

.margine-top-10-px{
    margin-top: 10px;
}

.margine-top-100-px{
    margin-top: 100px;
}

.padding-top-100-px{
    padding-top: 50px;
}
.bg-navy{
    background: navy;
}

.text-white{
    color: white;
}

.text-navy{
    color: navy;
}

.height_80vh{
    height: 80vh;
}


.custom-image {
    max-height: 500px; /* Set a max height */
    object-fit: cover; /* Ensures proper cropping if needed */
}

.font-size35px{
    font-size: 35px;
}

.font-size-25px{
    font-size: 25px;
}

.font-weight-bolder{
    font-weight: bolder;
}
.font-weight-bold{
    font-weight: bold;
}
.font-weight-100{
    font-weight:100;
}

.highlighted{
    text-decoration: underline;
    text-decoration-color: green;
    text-underline-offset: 10px;
    text-decoration-thickness: 4px;
    
}

.first_button{
    border: 1px solid rgb(7, 134, 7);
    background-color: rgb(7, 134, 7);
    padding: 10px 12px;
    border-radius: 50px;
}

.second_button{
    margin-top: 10px;
}

.first_card, .second_card, .third_card, .forth_card{
    height: 300px;
    width: 300px;
    margin: 25px;
}

.about_us{
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.about_us_button{
    border: 1px solid #07f93c;
    background: #07f93c;
    width: 90px;
    height:40px;
    padding-left: 8px;
    padding-top: 6px;
    border-radius: 10px;
}

.first_row, .second_row{
    display: flex;
}

.logo_container img{
    height: 80px;
    height: 80px;
}

.box{
    width: 300px;
    height: 60px;
    border: 1px solid #b2beb54d;
    border-radius: 5px;
}

.box_container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 8px;
    margin-left: 2%;
}

.box_img_container img{
    height: 50px;
    width: 50px;
}
/* small */
@media only screen and (max-width:767px){
    .title, .read_me_button,.about_us_button{
        margin-left: 25%;
    }

    .explaination{
        margin-left: 25%;
        margin-right: 25%;
    }
    .about_us{
         flex-direction: column;
    }

    .first_row, .second_row{
        flex-direction: column;
    }

    .box_container{
        grid-template-columns: repeat(1,1fr);
        margin-left:25%
    }
}

@media only screen and (min-width: 768px) and (max-width:1200px){
    .about_us{
        display: flex;
        /* justify-content: space-evenly; */
        flex-direction: column;
    }

    .first_row, .second_row{
        margin-left: 8%;
    }

    .box_container{
        grid-template-columns: repeat(2,1fr);
        margin-left:5%
    }
}